body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

.red-txt {
  color: #fe393c;
}

.dark-gray-txt {
  color: #959595;
}

.light-gray-txt {
  color: #efefef;
}

.red-bg {
  background-color: #fe393c;
}

.dark-gray-bg {
  background-color: #959595;
}

.light-gray-bg {
  background-color: #efefef;
}

.shadow {
  box-shadow: 1px 4px 10px rgba(0 0 0 / 0.16);
}